* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

@font-face {
  font-family: Manrope;
  src: url(../font/Manrope/Manrope-Medium.ttf);
}

body {
  font-family: Manrope, sans-serif;

  background-image: url(../image/pexels-andrei-i-17867773-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  color: white;
}
.box {
  margin: 10px 20px;
  position: relative;
}
.box b {
  font-size: 26px;
}

.box .menu ul li {
  display: inline-block;
}
.menu {
  position: absolute;
  right: 0;
  top: 10px;
}

.menu ul {
  font-size: 0;
  position: relative;
}

.menu ul li a {
  font-size: 16px;
  text-decoration: none;
  color: black;
  padding: 30px;
}
.box .menu ul .drop-down ul li {
  display: block;
}
.drop-down {
  border: 1px solid white;

  position: absolute;
  top: 100px;
  left: -200px;

  background-color: white;
  color: black;
}

#documentaion > .drop-down {
  visibility: hidden;
}

.drop-down ul {
  display: inline-block;

  padding: 80px;
  padding: 30px;
}
.drop-down ul li {
  list-style-type: none;
}

.menu ul li a:hover {
  color: aquamarine;
  background-color: blueviolet;
}

.menu ul > #documentaion:hover > .drop-down {
  visibility: visible;
}
