* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Nunito;
  src: url(../font/Nunito/Nunito-Medium.ttf);
}

body {
  font-family: Nunito, sans-serif;
}

.box {
  width: 1480px;
}
.left {
  width: 1120px;
  height: 700px;
  background-color: #7e7e7e;
  display: inline-block;
}
.cart {
  width: 360px;

  float: right;
  display: inline-block;
}
table {
  position: relative;
}
#close {
  position: absolute;
  top: -40px;
  right: 0px;
  font-size: 20px;
}
table tr td img {
  width: 70px;
}

.shopping-cart {
  height: 50px;
  padding: 10px;
  display: block;
  background-color: #f3f3f3;
}

#cart1 {
  position: relative;
}
#quantity {
  display: inline-block;

  border: 1px solid blue;
  width: 20px;
  border-radius: 50%;
  color: white;
  background-color: blue;
  height: auto;
  position: absolute;
  top: -10px;
  /* padding: 5px; */
}
#total {
  position: absolute;
  color: #f18a69;
  right: 0;
}
#cart1 {
  position: relative;
  left: -120px;
  top: -40px;
}

table tr td .product-quality {
  display: inline-block;
  border: 1px solid #808080;
  width: 80px;
  height: 20px;
  border-radius: 30px;
  color: #808080;
}
.product {
  width: 360px;
  position: relative;

  padding: 20px;
  /* border: 1px solid #808080; */
  border-bottom: 1px solid #808080;
  display: inline-block;
}

.product .product-name {
  position: absolute;
  color: #808080;
  top: 15px;
  left: 110px;
}
.product .product-quality {
  position: absolute;
  top: 50px;
  left: 110px;
}
.product .price {
  position: absolute;
  top: 50px;
  left: 230px;
}
.product .product-close {
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
  color: #808080;
}
#taxes {
  color: #808080;
  font-size: 12px;
}
.view-cart {
  width: 360px;
  padding: 10px;
  color: #808080;
  background-color: white;
  border: 1px solid #808080;
}
.Add-Cart {
  width: 360px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #405ff2;
  border: 1px solid #808080;
  color: white;
}
.truck {
  border: 1px solid blue;
  padding: 10px;
  border-radius: 50%;
}
.transport {
  position: relative;
}
.free-ship {
  position: absolute;
  top: 10px;
  left: 100px;
}
