* {
  padding: 0;
  margin: 0;
}
.carousel-inner > .item {
  /* width: 100%; */
  /* position: absolute; */
  display: none;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.carousel-inner > .item img {
  width: 100%;
  vertical-align: bottom;
}
.carousel-inner > .item.active {
  /* width: 100%; */
  /* animation: slideInFromRight 0.3s ease; */
  display: block;
}
.carousel {
  position: relative;
  overflow: visible;
}
#prev {
  margin-left: 10px;
  /* padding: 10px 0; */
  text-align: center;
  position: absolute;
  line-height: 50px;
  top: 40%;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #72767d;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}
#next {
  margin-right: 10px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 40%;
  width: 50px;
  display: inline-block;
  height: 50px;
  background-color: #72767d;
  line-height: 50px;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}
.carousel-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 10px;
}
.carousel-dots i {
  margin: 10px;
}
.carousel-dots i.changeColor {
  color: yellow;
  /* background-color: yellow; */
  cursor: pointer;
  /* overflow: hidden; */
  /* padding: 10px; */
  background-color: yellow;
  border-radius: 50%;
}
.slide-in {
  animation: slide-in 0.3s ease;
}
.next {
  animation: slideInFromRight 0.3s ease;
}
@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.slide-on {
  animation: slide-on 1s ease-in-out;
}
@keyframes slide-on {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.previous {
  left: -100%;
  opacity: 1;
  transform: translateX(-100%);
}
