table {
  border-collapse: collapse;
  margin: 0 auto;
}
h2 {
  text-align: center;
}
td {
  /* vertical-align: top; */
  padding: 10px;
}
td > p {
  width: 200px;
}
img {
  max-width: 100%;
  height: auto;
}
